body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

#template {
  padding: 30px;
  padding-bottom: 70px;
  text-align: center;
}

img.img-responsive-margin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

#myID {
  color: black
}

.content {
  text-align: left;
  padding-left: 10%;
}

#navigation {
  padding: -100px;
}

ul {
  padding-left: 8%;
}

#exploration h2 {
  text-align: left;
  padding-left: 10%;
}

#weekone {
    padding: 30px;
    padding-bottom: 70px;
    text-align: center;
}

#centertext h1 {
    text-align:center;
    padding-top: 5%;
}

#centertext img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#return {
  text-align: center;
 
}

#centertext p {
  text-align: left;
  padding-top: 3%;
  text-decoration: none;
  text-indent: 5%;
  margin-left: 25%;
  margin-right: 25%;

}

#protitle h1{
  text-align: center;
  padding-top: 8%;
}

#protitle p{
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  text-indent: 5%;
}

#protitle img{
  display: block;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

#protitle iframe{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
}
